In [ ]:
import pandas as pd
import numpy as np
import re
import copy
from datetime import datetime

# Новый раздел

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
pharm_df = pd.read_excel("/content/drive/My Drive/SHAD/Pharm/Universe coded OK July20.xlsx")

In [ ]:
pharm_df.tail()

           OneKeyID  GlobalCode TetCode  ...  Basket1 Basket2 Basket3
65172  WRUH00051711         NaN     PHK  ...      NaN     NaN     NaN
65173  WRUH00053774         NaN     PHK  ...      NaN     NaN     NaN
65174  WRUH00070966         NaN     PHN  ...      NaN     NaN     NaN
65175  WRUH00072455         NaN     PHN  ...      NaN     NaN     NaN
65176  WRUH00075341         NaN     PHN  ...      NaN     NaN     NaN

[5 rows x 58 columns]

# **Удаление данных о Москве, Петербурге, Московской области**

In [ ]:
pharm_df.drop(index= np.concatenate((np.where(pharm_df["OKBrickL3"].map(lambda x: re.findall("петербург",x.lower())).map(lambda x: len(x)) != 0)[0],
                                     np.where(pharm_df["OKBrickL3"].map(lambda x: re.findall("москва",x.lower())).map(lambda x: len(x)) != 0)[0])),
              inplace=True)

In [ ]:
pharm_df.shape

(58731, 58)

In [ ]:
pharm_df.drop(index = pharm_df.iloc[np.where(pharm_df["OKBrickL3"].map(lambda x: re.findall("московская обл",x.lower())).map(lambda x: len(x)) != 0)[0]].index,
              inplace =True)

In [ ]:
pharm_df.shape

(54526, 58)

# **One-hot encoding для типа аптеки**

In [ ]:
pd.get_dummies(pharm_df.TetCode)

       APT  PCP  PHK  PHN  PST
0        0    0    1    0    0
1        0    1    0    0    0
2        1    0    0    0    0
3        0    0    1    0    0
4        1    0    0    0    0
...    ...  ...  ...  ...  ...
65171    0    0    0    1    0
65172    0    0    1    0    0
65173    0    0    1    0    0
65174    0    0    0    1    0
65175    0    0    0    1    0

[54526 rows x 5 columns]

In [ ]:
pharm_df = pd.concat([pharm_df, pd.get_dummies(pharm_df.TetCode)],axis=1).drop(['TetCode'],axis=1)

# **One-hot для топ N брендов аптечных сетей (признак BrandCode) по объему и по популярности**

In [ ]:
pharm_df.BrandCodes.value_counts()

0      14782
1       7051
11      1922
7       1829
14      1741
       ...
473        1
306        1
185        1
852        1
809        1
Name: BrandCodes, Length: 851, dtype: int64

In [ ]:
counts = pharm_df.BrandCodes.value_counts()
repl = counts[counts <= counts.iloc[10]].index
top_brand_df = pd.get_dummies(pharm_df.BrandCodes.replace(repl, 'uncommon')).drop(['uncommon'], axis=1)
top_brand_df.rename(columns={x:"top_brand_" + str(x) for x in top_brand_df.columns},inplace=True)
pharm_df = pd.concat([pharm_df, top_brand_df], axis=1)

По объему

In [ ]:
pharm_df.head()

       OneKeyID  GlobalCode  ...  top_brand_31 top_brand_84
0  WRUE00003190         NaN  ...             0            0
1  WRUE00011494   2052648.0  ...             0            0
2  WRUE00016734         NaN  ...             0            0
3  WRUE00016882         NaN  ...             0            0
4  WRUE00020818         NaN  ...             0            0

[5 rows x 72 columns]

In [ ]:
counts = pharm_df.groupby("BrandCodes")[pharm_df.loc[:,"SELL_Jun19":"SELL_May20"].columns].agg(sum).sum(axis=1).sort_values(ascending=False)

In [ ]:
counts

BrandCodes
1      5.426846e+07
0      4.658685e+07
11     1.942230e+07
31     1.922467e+07
14     1.767819e+07
           ...
888    0.000000e+00
508    0.000000e+00
824    0.000000e+00
830    0.000000e+00
792    0.000000e+00
Length: 851, dtype: float64

In [ ]:
repl = counts[counts <= counts.iloc[15]].index
top_sales_df = pd.get_dummies(pharm_df.BrandCodes.replace(repl, 'uncommon')).drop(['uncommon'], axis=1)
top_sales_df.rename(columns={x:"top_sales_" + str(x) for x in top_sales_df.columns},inplace=True)
pharm_df  = pd.concat([pharm_df, top_sales_df], axis=1)

# **Парсиниг минимального растояния до метро и количества станций метро рядом**

In [ ]:
pharm_df["Metro_dist"] = pharm_df.Metro.map(lambda x: min(re.findall("\d.\d+",x)) if not pd.isna(x) else -1)
pharm_df["Metro_num"] = pharm_df.Metro.map(lambda x: len(re.findall("\d.\d+",x)) if not pd.isna(x) else 0)
pharm_df.drop(["Metro"],axis=1,inplace=True)

# **Парсинг часов и дней работы**

In [ ]:
def get_work_hours(work_time_list):
    '''
    Определение суммарного времени работы аптеки в часах
    * work_time_list - список времен открытия и закрытия (времена в виде строк)
    '''
    # преобразование строк в формат времени
    times = [datetime.strptime(time, "%H:%M") 
             if time != "24:00" and time != "-" else datetime.strptime("0:00", "%H:%M") 
             for time in work_time_list]
    # времена работы до обеда и после обеда
    delta_time_1, delta_time_2 = 0, 0
    if len(times) == 4:
        delta_time_2 = (times[3] - times[2]).seconds  # время работы после обеда
        if delta_time_2 == 0:
            delta_time_2 = 24 * 3600
    if len(times) == 1:  # прочерк, нерабочий день
        return 0
    elif len(times) != 0:
        delta_time_1 = (times[1] - times[0]).seconds  # время работы до обеда
        if delta_time_1 == 0:
            delta_time_1 = 24 * 3600
    else:
        return np.nan
    # суммарное время работы в часах
    work_hours = (delta_time_1 + delta_time_2) / 3600
    return work_hours

In [ ]:
# найдем числа, а также пустые строки и тире для нерабочих дней
work_hours_mon = pharm_df.Mon.map(lambda x: re.findall("\d+:\d+|-", x) if not pd.isnull(x) else "")
work_hours_tue = pharm_df.Tue.map(lambda x: re.findall("\d+:\d+|-", x) if not pd.isnull(x) else "")
work_hours_wed = pharm_df.Wed.map(lambda x: re.findall("\d+:\d+|-", x) if not pd.isnull(x) else "")
work_hours_thu = pharm_df.Thu.map(lambda x: re.findall("\d+:\d+|-", x) if not pd.isnull(x) else "")
work_hours_fri = pharm_df.Fri.map(lambda x: re.findall("\d+:\d+|-", x) if not pd.isnull(x) else "")
work_hours_sat = pharm_df.Sat.map(lambda x: re.findall("\d+:\d{0,2}|-", x) if not pd.isnull(x) else "")
work_hours_sun_ = pharm_df.Sun.map(lambda x: "Воскресенье:-" if x == "Воскресенье:" else x)
work_hours_sun = work_hours_sun_.map(lambda x: re.findall("\d+:\d+|-", x) if not pd.isnull(x) else "")

Есть такие дни, когда в воскресение в поле "рабочие часы" стоит Null. При этом другие дни рабочие. В этом случае время работы в субботу почти в 100% случаев "битое" после обеда. Поэтому после обеда в субботу берем время работы такое же, как в пятницу после обеда.

Если проанализировать первые цифры в "битом" времени, то они совпадают. Значит будем считать, что гипотеза по поводу времени работы в субботу после обеда верна.

Время работы в воскресение возьмем таким же, как в субботу.

In [ ]:
for i in work_hours_sun.index:
    # если время работы в пн указано, а в воскресение Null
    # при этом в пт также есть обед (будем время с пятницы копировать)
    if work_hours_sun[i] == '' and work_hours_mon[i] != '' and len(work_hours_fri[i]) == 4:
        if len(work_hours_sat) == 2:
            work_hours_sat.append(work_hours_fri[2])
            work_hours_sat.append(work_hours_fri[3])
        elif len(work_hours_sat) == 3:
            work_hours_sat[2] = work_hours_fri[2]
            work_hours_sat.append(work_hours_fri[3])
        else:
            work_hours_sat[2] = work_hours_fri[2]
            work_hours_sat[3] = work_hours_fri[3]
        # возьмем время работы в вск такое же, как в субботу
        work_hours_sun[i] = copy.copy(work_hours_sat[i])

In [ ]:
# суммарные времена работы аптек по дням
mon_work_time = work_hours_mon.apply(get_work_hours)  # понедельник
tue_work_time = work_hours_tue.apply(get_work_hours)  # вторник
wed_work_time = work_hours_wed.apply(get_work_hours)  # средка
thu_work_time = work_hours_thu.apply(get_work_hours)  # четверг
fri_work_time = work_hours_fri.apply(get_work_hours)  # пятница
sat_work_time = work_hours_sat.apply(get_work_hours)  # суббота
sun_work_time = work_hours_sun.apply(get_work_hours)  # воскресение

In [ ]:
# суммарное время работы в будни
weekdays_work_time = mon_work_time + tue_work_time + wed_work_time + \
                    thu_work_time + fri_work_time

In [ ]:
# суммарное время работы в выходные
weekend_work_time = sat_work_time + sun_work_time

In [ ]:
# суммарное время работы за неделю
all_days_work_time = weekdays_work_time + weekend_work_time

In [ ]:
# признак, работает ли аптека 24 на 7 или нет
# финт ушами с копированием, чтобы Null учесть
is_work_time_24_7 = copy.copy(all_days_work_time)
for i in is_work_time_24_7.index:
    if is_work_time_24_7[i] == 24 * 7:
        is_work_time_24_7[i] = 1
    elif not pd.isnull(is_work_time_24_7[i]):
        is_work_time_24_7[i] = 0

In [ ]:
# еще добавим признак, если аптека работает почти 24 на 7
# потому что есть аптеки, которые делают небольшой перерыв ночью
# вряд ли он сильно на деятельности сказывается
# возьмем в среднем 23 на 7
is_work_time_almost_24_7 = copy.copy(all_days_work_time)
for i in is_work_time_almost_24_7.index:
    if is_work_time_almost_24_7[i] != "" and is_work_time_almost_24_7[i] >= 23 * 7:
        is_work_time_almost_24_7[i] = 1
    elif not pd.isnull(is_work_time_almost_24_7[i]):
        is_work_time_almost_24_7[i] = 0

Порядка 50 аптек добавилось. При этом число не меняется, если 22 на 7 ставить. Вероятно, такие аптеки тоже к круглосуточным можно отнести. Просто они делают технический перерыв.

In [ ]:
# добавление признаков в таблицу
pharm_df["mon_work_time"] = mon_work_time
pharm_df["tue_work_time"] = tue_work_time
pharm_df["wed_work_time"] = wed_work_time
pharm_df["thu_work_time"] = thu_work_time
pharm_df["fri_work_time"] = fri_work_time
pharm_df["sat_work_time"] = sat_work_time
pharm_df["sun_work_time"] = sun_work_time

pharm_df["weekdays_work_time"] = weekdays_work_time
pharm_df["weekend_work_time"] = weekend_work_time
pharm_df["all_days_work_time"] = all_days_work_time

pharm_df["is_work_time_24_7"] = is_work_time_24_7
pharm_df["is_work_time_almost_24_7"] = is_work_time_almost_24_7

In [ ]:
pharm_df.head()

       OneKeyID  GlobalCode  ...  is_work_time_24_7 is_work_time_almost_24_7
0  WRUE00003190         NaN  ...                0.0                      0.0
1  WRUE00011494   2052648.0  ...                NaN                      NaN
2  WRUE00016734         NaN  ...                NaN                      NaN
3  WRUE00016882         NaN  ...                0.0                      0.0
4  WRUE00020818         NaN  ...                NaN                      NaN

[5 rows x 100 columns]

# **Агрегация UNIQ_SKU_ & Sell_**

## *UNIQ_SKU_*

In [ ]:
# названия столбцов с уникальными препаратами
uniq_sku_col = [col for col in pharm_df.columns if "UNIQ_SKU_" in col]
# названия столбцов с количеством проданных уникальных препаратов 
sell_col = [col for col in pharm_df.columns if "SELL_" in col]

In [ ]:
# сумма по всем месяцам уникальных препаратов
uniq_sku_sum = pharm_df[uniq_sku_col].sum(axis=1, skipna=False)

In [ ]:
# сделаем сумму еще по сезонам (лето, осень, зима, весна)
uniq_sku_sum_summer = pharm_df[uniq_sku_col[0:3]].sum(axis=1, skipna=False)  # лето
uniq_sku_sum_autumn = pharm_df[uniq_sku_col[3:6]].sum(axis=1, skipna=False)  # осень
uniq_sku_sum_winter = pharm_df[uniq_sku_col[6:9]].sum(axis=1, skipna=False)  # зима
uniq_sku_sum_spring = pharm_df[uniq_sku_col[9:12]].sum(axis=1, skipna=False)  # весна

In [ ]:
# среднее по всем месяцам уникальных препаратов
uniq_sku_mean = pharm_df[uniq_sku_col].mean(axis=1, skipna=False)

In [ ]:
# сделаем среднее еще по сезонам (лето, осень, зима, весна)
uniq_sku_mean_summer = pharm_df[uniq_sku_col[0:3]].mean(axis=1, skipna=False)  # лето
uniq_sku_mean_autumn = pharm_df[uniq_sku_col[3:6]].mean(axis=1, skipna=False)  # осень
uniq_sku_mean_winter = pharm_df[uniq_sku_col[6:9]].mean(axis=1, skipna=False)  # зима
uniq_sku_mean_spring = pharm_df[uniq_sku_col[9:12]].mean(axis=1, skipna=False)  # весна

In [ ]:
# добавление признаков в таблицу
pharm_df["uniq_sku_sum"] = uniq_sku_sum
pharm_df["uniq_sku_sum_summer"] = uniq_sku_sum_summer
pharm_df["uniq_sku_sum_autumn"] = uniq_sku_sum_autumn
pharm_df["uniq_sku_sum_winter"] = uniq_sku_sum_winter
pharm_df["uniq_sku_sum_spring"] = uniq_sku_sum_spring

pharm_df["uniq_sku_mean"] = uniq_sku_mean
pharm_df["uniq_sku_mean_summer"] = uniq_sku_mean_summer
pharm_df["uniq_sku_mean_autumn"] = uniq_sku_mean_autumn
pharm_df["uniq_sku_mean_winter"] = uniq_sku_mean_winter
pharm_df["uniq_sku_mean_spring"] = uniq_sku_mean_spring

In [ ]:
pharm_df.head()

       OneKeyID  GlobalCode  ...  uniq_sku_mean_winter uniq_sku_mean_spring
0  WRUE00003190         NaN  ...             15.666667            19.333333
1  WRUE00011494   2052648.0  ...              5.000000             3.000000
2  WRUE00016734         NaN  ...              2.666667            20.666667
3  WRUE00016882         NaN  ...                   NaN                  NaN
4  WRUE00020818         NaN  ...                   NaN                  NaN

[5 rows x 110 columns]

## *SELL_* (отрицательные никак не обрабатываются)

In [ ]:
pharm_df[sell_col][(pharm_df[sell_col[0]] < 0) 
                   | (pharm_df[sell_col[1]] < 0)
                   | (pharm_df[sell_col[2]] < 0)
                   | (pharm_df[sell_col[3]] < 0)
                   | (pharm_df[sell_col[4]] < 0)
                   | (pharm_df[sell_col[5]] < 0)
                   | (pharm_df[sell_col[6]] < 0)
                   | (pharm_df[sell_col[7]] < 0)
                   | (pharm_df[sell_col[8]] < 0)
                   | (pharm_df[sell_col[9]] < 0)
                   | (pharm_df[sell_col[10]] < 0)
                   | (pharm_df[sell_col[11]] < 0)].head()

      SELL_Jun19  SELL_Jul19  SELL_Aug19  ...  SELL_Mar20  SELL_Apr20  SELL_May20
337         -2.0         0.0         0.0  ...       103.0        74.0        16.0
1027        87.0         0.0        -1.0  ...       261.0       293.0         0.0
1380       271.0       149.0       155.0  ...       194.0       222.0       166.0
1418        99.0         0.0        -3.0  ...        42.0        76.0        81.0
1538        95.0        13.0        -1.0  ...       164.0        44.0        47.0

[5 rows x 12 columns]

In [ ]:
# сумма продаж за год
sell_sum = pharm_df[sell_col].sum(axis=1, skipna=False)

In [ ]:
# сумма продаж по сезонам (лето, осень, зима, весна)
sell_sum_summer = pharm_df[sell_col[0:3]].sum(axis=1, skipna=False)  # лето
sell_sum_autumn = pharm_df[sell_col[3:6]].sum(axis=1, skipna=False)  # осень
sell_sum_winter = pharm_df[sell_col[6:9]].sum(axis=1, skipna=False)  # зима
sell_sum_spring = pharm_df[sell_col[9:12]].sum(axis=1, skipna=False)  # весна

In [ ]:
# среднее по продажам за год
sell_mean = pharm_df[sell_col].mean(axis=1, skipna=False)

In [ ]:
# среднее по продажам по сезонам (лето, осень, зима, весна)
sell_mean_summer = pharm_df[sell_col[0:3]].mean(axis=1, skipna=False)  # лето
sell_mean_autumn = pharm_df[sell_col[3:6]].mean(axis=1, skipna=False)  # осень
sell_mean_winter = pharm_df[sell_col[6:9]].mean(axis=1, skipna=False)  # зима
sell_mean_spring = pharm_df[sell_col[9:12]].mean(axis=1, skipna=False)  # весна

In [ ]:
# добавление признаков в таблицу
pharm_df["sell_sum"] = sell_sum
pharm_df["sell_sum_summer"] = sell_sum_summer
pharm_df["sell_sum_autumn"] = sell_sum_autumn
pharm_df["sell_sum_winter"] = sell_sum_winter
pharm_df["sell_sum_spring"] = sell_sum_spring

pharm_df["sell_mean"] = sell_mean
pharm_df["sell_mean_summer"] = sell_mean_summer
pharm_df["sell_mean_autumn"] = sell_mean_autumn
pharm_df["sell_mean_winter"] = sell_mean_winter
pharm_df["sell_mean_spring"] = sell_mean_spring

## *UNIQ_SKU_ + SELL_* (отрицательные никак не обрабатываются)

In [ ]:
# среднее кол-во продаж одного товара за год
avg_sell_sku = sell_sum / uniq_sku_sum

In [ ]:
# среднее кол-во продаж одного товара по сезонам (лето, осень, зима, весна)
avg_sell_sku_summer = sell_sum_summer / uniq_sku_sum_summer
avg_sell_sku_autumn = sell_sum_autumn / uniq_sku_sum_autumn
avg_sell_sku_winter = sell_sum_winter / uniq_sku_sum_winter
avg_sell_sku_spring = sell_sum_spring / uniq_sku_sum_spring

In [ ]:
# добавление признаков в таблицу
pharm_df["avg_sell_sku"] = avg_sell_sku
pharm_df["avg_sell_sku_summer"] = avg_sell_sku_summer
pharm_df["avg_sell_sku_autumn"] = avg_sell_sku_autumn
pharm_df["avg_sell_sku_winter"] = avg_sell_sku_winter
pharm_df["avg_sell_sku_spring"] = avg_sell_sku_spring

## *SELL_* (обнуление отрицательных продаж)

In [ ]:
# создадим новую таблицу со столбцами sell_col
pharm_df_ = pharm_df[sell_col]

In [ ]:
# обнулим все отрицательные продажи
pharm_df_[pharm_df_ < 0] = 0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2986: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(-key, value, inplace=True)

In [ ]:
# сумма продаж за год
sell_sum_0 = pharm_df_[sell_col].sum(axis=1, skipna=False)

In [ ]:
# сумма продаж по сезонам (лето, осень, зима, весна)
sell_sum_summer_0 = pharm_df_[sell_col[0:3]].sum(axis=1, skipna=False)  # лето
sell_sum_autumn_0 = pharm_df_[sell_col[3:6]].sum(axis=1, skipna=False)  # осень
sell_sum_winter_0 = pharm_df_[sell_col[6:9]].sum(axis=1, skipna=False)  # зима
sell_sum_spring_0 = pharm_df_[sell_col[9:12]].sum(axis=1, skipna=False)  # весна

In [ ]:
# среднее по продажам за год
sell_mean_0 = pharm_df_[sell_col].mean(axis=1, skipna=False)

In [ ]:
# среднее по продажам по сезонам (лето, осень, зима, весна)
sell_mean_summer_0 = pharm_df_[sell_col[0:3]].mean(axis=1, skipna=False)  # лето
sell_mean_autumn_0 = pharm_df_[sell_col[3:6]].mean(axis=1, skipna=False)  # осень
sell_mean_winter_0 = pharm_df_[sell_col[6:9]].mean(axis=1, skipna=False)  # зима
sell_mean_spring_0 = pharm_df_[sell_col[9:12]].mean(axis=1, skipna=False)  # весна

In [ ]:
# добавление признаков в таблицу
pharm_df["sell_sum_0"] = sell_sum_0
pharm_df["sell_sum_summer_0"] = sell_sum_summer_0
pharm_df["sell_sum_autumn_0"] = sell_sum_autumn_0
pharm_df["sell_sum_winter_0"] = sell_sum_winter_0
pharm_df["sell_sum_spring_0"] = sell_sum_spring_0

pharm_df["sell_mean_0"] = sell_mean_0
pharm_df["sell_mean_summer_0"] = sell_mean_summer_0
pharm_df["sell_mean_autumn_0"] = sell_mean_autumn_0
pharm_df["sell_mean_winter_0"] = sell_mean_winter_0
pharm_df["sell_mean_spring_0"] = sell_mean_spring_0

## *UNIQ_SKU_ + SELL_* (обнуление отрицательных продаж)

In [ ]:
# среднее кол-во продаж одного товара за год
avg_sell_sku_0 = sell_sum_0 / uniq_sku_sum

In [ ]:
# среднее кол-во продаж одного товара по сезонам (лето, осень, зима, весна)
avg_sell_sku_summer_0 = sell_sum_summer_0 / uniq_sku_sum_summer
avg_sell_sku_autumn_0 = sell_sum_autumn_0 / uniq_sku_sum_autumn
avg_sell_sku_winter_0 = sell_sum_winter_0 / uniq_sku_sum_winter
avg_sell_sku_spring_0 = sell_sum_spring_0 / uniq_sku_sum_spring

In [ ]:
# добавление признаков в таблицу
pharm_df["avg_sell_sku_0"] = avg_sell_sku_0
pharm_df["avg_sell_sku_summer_0"] = avg_sell_sku_summer_0
pharm_df["avg_sell_sku_autumn_0"] = avg_sell_sku_autumn_0
pharm_df["avg_sell_sku_winter_0"] = avg_sell_sku_winter_0
pharm_df["avg_sell_sku_spring_0"] = avg_sell_sku_spring_0

# **Заполнение пропусков для всего, что связано с UNIQ_SKU_ и SELL_**

## *Медианой по региону*

In [ ]:
# названия колонок с агрегированными признаками UNIQ_ и SELL_
uniq_sell_col = [col for col in pharm_df.columns if "sell_sum" in col or \
                 "sell_uniq" in col  or "uniq" in col]

In [ ]:
# новая таблица для работы
# столбцы: регионы и те столбцы с uniq_ и sell_, которые будем восстанавливать
uniq_sell_median_df = pd.DataFrame()
uniq_sell_median_df["region"] = pharm_df.OKBrickL3.map(lambda x: x.split(",")[0])
uniq_sell_col_median = [old_name + "_median" for old_name in uniq_sell_col]
uniq_sell_median_df[uniq_sell_col_median] = pharm_df[uniq_sell_col]

In [ ]:
uniq_sell_median_df.head()

               region  ...  sell_sum_spring_0_median
0        Брянская обл  ...                     459.0
1     Челябинская обл  ...                      12.0
2  Краснодарский край  ...                     224.0
3    Новгородская обл  ...                       NaN
4      Ростовская обл  ...                       NaN

[5 rows x 21 columns]

In [ ]:
# уникальные регионы
region_uniq = uniq_sell_median_df["region"].unique()

In [ ]:
# заполнение null медианой по региону
for region in region_uniq:
    region_median = uniq_sell_median_df[uniq_sell_median_df.region == region]\
                                        [uniq_sell_col_median].median()
    for col, med in zip(uniq_sell_col_median, region_median):
        uniq_sell_median_df.loc[uniq_sell_median_df[uniq_sell_median_df.region == region]
                                [pd.isnull(uniq_sell_median_df[col])].index, 
                                col] = med

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

In [ ]:
# проверим для Чукосткого АО
uniq_sell_median_df[uniq_sell_median_df.region == region_uniq[77]].head()

             region  ...  sell_sum_spring_0_median
7511   Чукотский АО  ...                     295.0
10531  Чукотский АО  ...                     103.0
10690  Чукотский АО  ...                     182.0
17073  Чукотский АО  ...                     238.5
17074  Чукотский АО  ...                     627.0

[5 rows x 21 columns]

In [ ]:
# по заполненным пропускам найдем теперь признаки sell / uniq_sell
suf = ["", "_summer", "_autumn", "_winter", "_spring"]
for s in suf:
  # без обнуления продаж
  uniq_sell_median_df["avg_sell_sku" + s + "_median"] = \
      uniq_sell_median_df["sell_sum" + s + "_median"] / \
      uniq_sell_median_df["uniq_sku_sum" + s + "_median"]
  # с обнулением продаж
  uniq_sell_median_df["avg_sell_sku" + s + "_0_median"] = \
      uniq_sell_median_df["sell_sum" + s + "_0_median"] / \
      uniq_sell_median_df["uniq_sku_sum" + s + "_median"]

In [ ]:
# добавим в исходную таблицу uniq_sell_median_df
pharm_df = pd.concat([pharm_df, uniq_sell_median_df], axis=1)

## *Медианой по региону и BrandCode*

Если глянуть выборочно, то у BrandCode, которые не в топе, колебания меньше. Вероятно, это даст чуть более точный результат для данного способа

In [ ]:
# новая таблица для работы
# столбцы: регионы, BrandCodes и те столбцы с uniq_ и sell_, которые будем восстанавливать
# uniq_sell_col - см. выше
uniq_sell_median2_df = pd.DataFrame()
uniq_sell_median2_df["region"] = pharm_df.OKBrickL3.map(lambda x: x.split(",")[0])
uniq_sell_median2_df["BrandCodes"] = pharm_df.BrandCodes
uniq_sell_col_median2 = [old_name + "_median2" for old_name in uniq_sell_col]
uniq_sell_median2_df[uniq_sell_col_median2] = pharm_df[uniq_sell_col]

In [ ]:
uniq_sell_median2_df.head()

In [ ]:
# заполнение null медианой по региону и BrandCodes
for region in region_uniq:
    # уникальные BrandCodes для данного региона
    bc_uniq = uniq_sell_median2_df[uniq_sell_median2_df.region == region].BrandCodes.unique()
    
    # пробежимся по всем BrandCodes
    for bc in bc_uniq:  
        region_median = uniq_sell_median2_df[(uniq_sell_median2_df.region == region) \
                                             & (uniq_sell_median2_df.BrandCodes == bc)] \
                                            [uniq_sell_col_median2].median()
        for col, med in zip(uniq_sell_col_median2, region_median):
            uniq_sell_median2_df.loc[uniq_sell_median2_df[(uniq_sell_median2_df.region == region) \
                                                          & (uniq_sell_median2_df.BrandCodes == bc) \
                                                          & (pd.isnull(uniq_sell_median2_df[col]))].index, \
                                                          col] = med

In [ ]:
# глянем для Чукотки
uniq_sell_median2_df[(uniq_sell_median2_df.region == region_uniq[77]) \
                    & (uniq_sell_median2_df.BrandCodes == 0)]

In [ ]:
# по заполненным пропускам найдем теперь признаки sell / uniq_sell
suf = ["", "_summer", "_autumn", "_winter", "_spring"]
for s in suf:
  # без обнуления продаж
  uniq_sell_median2_df["avg_sell_sku" + s + "_median2"] = \
      uniq_sell_median2_df["sell_sum" + s + "_median2"] / \
      uniq_sell_median2_df["uniq_sku_sum" + s + "_median2"]
  # с обнулением продаж
  uniq_sell_median2_df["avg_sell_sku" + s + "_0_median2"] = \
      uniq_sell_median2_df["sell_sum" + s + "_0_median2"] / \
      uniq_sell_median2_df["uniq_sku_sum" + s + "_median2"]

In [ ]:
# добавим в исходную таблицу uniq_sell_median_df
pharm_df = pd.concat([pharm_df, uniq_sell_median2_df], axis=1)

#Генерация дополнительных признаков

In [ ]:
region = pharm_df.groupby("region")["region"].agg("count")
pharm_df["num_pharm"] = pharm_df.region.map(lambda x: region.loc[x])

In [ ]:
sum(pharm_df.loc[pharm_df["region"] == region.index[0]].groupby("population").agg("count").index)

437984.0

In [ ]:
dict_pop = {i:0 for i in region.index}
for i in pharm_df.groupby(["region","population"])["population"].agg(["count"]).index:
  dict_pop[i[0]] = dict_pop.get(i[0]) + i[1]

In [ ]:
pharm_df["region_popul"] = pharm_df.region.map(lambda x: dict_pop[x])

In [ ]:
pharm_df["soul_on_pharm"] =pharm_df["region_popul"] / pharm_df["num_pharm"]

In [ ]:
pens_df = pd.read_excel("/content/drive/My Drive/SHAD/Pharm/22720000300200200001_Общая_численность_пенсионеров.xlsx",header=1)
pens_df.drop(["Unnamed: 1"], axis =1, inplace=True)
pens_df.columns = ["Region", "JAN2019", "JAN2020"]
pens_df.Region = pens_df.Region.map(lambda x: re.sub("область", "обл", x))
debcred_df = pd.read_excel("/content/drive/My Drive/SHAD/Pharm/dohodi_rashodi.xls",
                           header =2)
debcred_df.drop(["Unnamed: 0"], axis=1,inplace=True)
debcred_df.columns = ["Region","JAN2019"]
debcred_df.Region = debcred_df.Region.map(lambda x: x.strip()).map(lambda x: re.sub("область", "обл", x))
bascket_df = pd.read_excel("/content/drive/My Drive/SHAD/Pharm/minimal_basket.xls",header =3)
bascket_df.columns = ["Region",
                      "JAN2019", "FEB2019", "MAR2019", "APR2019",
                      "MAY2019", "JUN2019", "JUL2019", "AUG2019",
                      "SEP2019", "OCT2019", "NOV2019", "DEC2019",
                      "JAN2020", "FEB2020", "MAR2020", "APR2020",
                      "MAY2020",
                      ]

In [ ]:
pharm_df.merge(pens_df,
               left_on="region",
               right_on="Region")\
        .merge(debcred_df,
               left_on="Region",
               right_on="Region",
               how="left")

           OneKeyID  GlobalCode  BrandCodes  ... JAN2019_x JAN2020  JAN2019_y
0      WRUE00003190         NaN           0  ...    439.99  437.00  407109521
1      WRUF00000566   2048986.0           1  ...    439.99  437.00  407109521
2      WRUF00000721         NaN          71  ...    439.99  437.00  407109521
3      WRUF00000722   2048976.0           1  ...    439.99  437.00  407109521
4      WRUF00001113         NaN          82  ...    439.99  437.00  407109521
...             ...         ...         ...  ...       ...     ...        ...
43486  WRUF00175257   2073664.0           1  ...     48.99   47.99  109787758
43487  WRUF00179569         NaN         279  ...     48.99   47.99  109787758
43488  WRUF00181959         NaN         407  ...     48.99   47.99  109787758
43489  WRUF00182016         NaN         407  ...     48.99   47.99  109787758
43490  WRUF00182017         NaN         703  ...     48.99   47.99  109787758

[43491 rows x 178 columns]